<!DOCTYPE html>
<html>
<head>
  <title>Accueil</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container mt-5"></div>
    <h1 class="text-center">Bienvenue dans votre Todo List</h1>
    <div class="text-center mt-4">
      <a href="/taches" class="btn btn-primary">Voir la liste des tâches</a>
    </div>
    <div class="text-center mt-4">
      <a href="/createTache" class="btn btn-primary">Créer une liste de tâches</a>
    </div>
  </div>
</body>
</html>
